#___INFO__MARK_BEGIN__
##########################################################################
#
#  The Contents of this file are made available subject to the terms of
#  the Sun Industry Standards Source License Version 1.2
#
#  Sun Microsystems Inc., March, 2001
#
#
#  Sun Industry Standards Source License Version 1.2
#  =================================================
#  The contents of this file are subject to the Sun Industry Standards
#  Source License Version 1.2 (the "License"); You may not use this file
#  except in compliance with the License. You may obtain a copy of the
#  License at http://gridengine.sunsource.net/Gridengine_SISSL_license.html
#
#  Software provided under this License is provided on an "AS IS" basis,
#  WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING,
#  WITHOUT LIMITATION, WARRANTIES THAT THE SOFTWARE IS FREE OF DEFECTS,
#  MERCHANTABLE, FIT FOR A PARTICULAR PURPOSE, OR NON-INFRINGING.
#  See the License for the specific provisions governing your rights and
#  obligations concerning the Software.
#
#  The Initial Developer of the Original Code is: Sun Microsystems, Inc.
#
#  Copyright: 2001 by Sun Microsystems, Inc.
#
#  All Rights Reserved.
#
##########################################################################
#___INFO__MARK_END__

database[0].identifier=@@IDENTIFIER@@
database[0].driver=@@JDBC_DRIVER@@
database[0].dbName=@@DB_NAME@@
database[0].dbHost=@@DB_HOST@@
database[0].url=@@JDBC_URL@@
database[0].user=@@JDBC_USER@@
database[0].password=@@JDBC_PASSWORD@@
database[0].readOnlyUser=@@READONLY_USER@@
database[0].schema=@@SCHEMA@@
database[0].tablespace=@@TABLESPACE@@
database[0].tablespace_index=@@TABLESPACE_INDEX@@
database[0].dbversion=6
database[0].dbdefinition=@@DB_DEFINITION_FILE@@
database[0].debugLevel=WARNING

#database[0].identifier=postgres
#database[0].driver=org.postgresql.Driver
#database[0].url=jdbc:postgresql://localhost:5432/arco_2220
#database[0].user=arco_write
#database[0].password=arco_write
#database[0].readOnlyUser=arco_read
#database[0].schema=public
#database[0].dbversion=3
#database[0].dbdefinition=database/postgres/dbdefinition.xml
#database[0].debugLevel=WARNING

testDelete.debugLevel=OFF
testDelete.calculationFile=<DbWriterConfig> \
                 <delete scope="host_values" time_range="hour" time_amount="1"> \
                  <sub_scope>cpu</sub_scope> \
                 </delete> \
               </DbWriterConfig>            

testDelete.testRawVariableSQL=select count(*) from sge_host_values where hv_variable = 'cpu'

testDerivedValues.debugLevel=OFF
testDelayedImport.calculationFile= <DbWriterConfig> \
                 <derive object="host" interval="hour" variable="h_cpu_count"> \
                   <auto function="COUNT" variable="cpu" /> \
                 </derive> \
               </DbWriterConfig>
testDelayedImport.testHourVariableSQL=select count(*) from sge_host_values where hv_variable = 'h_cpu_count'
    
testConfigReload.debugLevel=OFF

testParsing.debugLevel=OFF

testInstall.debugLevel=OFF

testShutdown.debugLevel=OFF
testShutdown.timeout=10

testQuotedString.debugLevel=OFF
